[submodule "vim/bundle/a"]
	path = vim/bundle/a
	url = git://github.com/vim-scripts/a.vim
[submodule "vim/bundle/commentary"]
	path = vim/bundle/commentary
	url = git://github.com/tpope/vim-commentary
[submodule "vim/bundle/abolish"]
	path = vim/bundle/abolish
	url = git://github.com/vim-scripts/abolish.vim.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/ghcmod"]
	path = vim/bundle/ghcmod
	url = git://github.com/eagletmt/ghcmod-vim.git
[submodule "vim/bundle/html5-syntax"]
	path = vim/bundle/html5-syntax
	url = git://github.com/othree/html5-syntax.vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/pandoc"]
	path = vim/bundle/pandoc
	url = git://github.com/vim-pandoc/vim-pandoc.git
[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/tmux"]
	path = vim/bundle/tmux
	url = git://github.com/tsaleh/vim-tmux.git
[submodule "vim/bundle/vimproc"]
	path = vim/bundle/vimproc
	url = git://github.com/Shougo/vimproc.git
[submodule "vim/bundle/html-template-syntax"]
	path = vim/bundle/html-template-syntax
	url = git://github.com/pbrisbin/html-template-syntax.git
[submodule "vim/bundle/unimpaired"]
	path = vim/bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/eunuch"]
	path = vim/bundle/eunuch
	url = git://github.com/tpope/vim-eunuch.git
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = git://github.com/SirVer/ultisnips.git
[submodule "vim/bundle/airline"]
	path = vim/bundle/airline
	url = git://github.com/bling/vim-airline.git
[submodule "vim/bundle/signify"]
	path = vim/bundle/signify
	url = git://github.com/mhinz/vim-signify.git
[submodule "vim/bundle/undotree"]
	path = vim/bundle/undotree
	url = git://github.com/mbbill/undotree.git
[submodule "vim/bundle/less"]
	path = vim/bundle/less
	url = git://github.com/groenewege/vim-less
[submodule "vim/bundle/snippets"]
	path = vim/bundle/snippets
	url = git://github.com/honza/vim-snippets.git
[submodule "vim/bundle/molokai"]
	path = vim/bundle/molokai
	url = git://github.com/tomasr/molokai.git
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = git://github.com/Valloric/YouCompleteMe.git
[submodule "vim/bundle/ag"]
	path = vim/bundle/ag
	url = git://github.com/rking/ag.vim.git
[submodule "vim/bundle/css3-syntax"]
	path = vim/bundle/css3-syntax
	url = git://github.com/hail2u/vim-css3-syntax.git
[submodule "vim/bundle/json"]
	path = vim/bundle/json
	url = git://github.com/helino/vim-json.git
[submodule "vim/bundle/switch"]
	path = vim/bundle/switch
	url = git://github.com/AndrewRadev/switch.vim
[submodule "vim/bundle/nginx"]
	path = vim/bundle/nginx
	url = git://github.com/evanmiller/nginx-vim-syntax.git
[submodule "vim/bundle/tlib"]
	path = vim/bundle/tlib
	url = git://github.com/tomtom/tlib_vim
[submodule "vim/bundle/vinarise"]
	path = vim/bundle/vinarise
	url = git://github.com/Shougo/vinarise.vim.git
[submodule "vim/bundle/indent-guides"]
	path = vim/bundle/indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/bundle/instant-markdown"]
	path = vim/bundle/instant-markdown
	url = git://github.com/suan/vim-instant-markdown.git
[submodule "vim/bundle/misc"]
	path = vim/bundle/misc
	url = git://github.com/xolox/vim-misc
[submodule "vim/bundle/multiple-cursors"]
	path = vim/bundle/multiple-cursors
	url = git://github.com/terryma/vim-multiple-cursors.git
[submodule "vim/bundle/searchindex"]
	path = vim/bundle/searchindex
	url = git://github.com/google/vim-searchindex.git
[submodule "vim/bundle/browserlink"]
	path = vim/bundle/browserlink
	url = https://github.com/jaxbot/browserlink.vim
[submodule "vim/bundle/vc"]
	path = vim/bundle/vc
	url = https://github.com/juneedahamed/vc.vim.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/railscasts-theme"]
	path = vim/bundle/railscasts-theme
	url = https://github.com/dhruvasagar/vim-railscasts-theme
[submodule "vim/bundle/airline-themes"]
	path = vim/bundle/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/bundle/opencl"]
	path = vim/bundle/opencl
	url = https://github.com/petRUShka/vim-opencl
